nav.navbar.navbar-expand-lg.navbar-light.bg-light 
  a.navbar-brand(href='#')= app.name
  button.navbar-toggler(
    type='button',
    data-toggle='collapse',
    data-target='#navbarNavAltMarkup',
    aria-controls='navbarNavAltMarkup',
    aria-expanded='false',
    aria-label='Toggle navigation',
  )
    span.navbar-toggler-icon
  
  div.collapse.navbar-collapse#navbarNavAltMarkup 
    div.navbar-nav
      a.nav-item.nav-link.active(href='#') Home